.block {
	text-align: center;
	background: #c0c0c0;
	border: #a0a0a0 solid 1px;
	margin: 20px auto;
	max-width: 320px;
	&:before {
		content: '';
		display: inline-block;
		height: 100%;
		vertical-align: middle;
		margin-right: -0.25em;
		background: #808080;
		@media screen and (max-width: 140px) {
			display: none;
		}
	}
}

.centered {
	display: inline-block;
	vertical-align: middle;
	width: calc(100% - 100px);
	max-width: 300px;
	min-width: 109px;
	padding: 10px 15px;
	border: #a0a0a0 solid 1px;
	background: #f5f5f5;
}

.th {
	height: 600px;
}
